---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

My primary areas of teaching involve big data, data analytics, HCI and visualisation topics. I am currently contributing to ‘Information and Knowledge Management’, ‘Human Computer Interaction’ and ‘Researching Social Media’, taught across a range of MSc programs. I also supervise dissertations from various MSc programs.
As a computer scientist, I have taught various technical subjects such as programming, data structures, web technologies, big data and distributed systems, visual analytics and Tableau.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
