---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

My primary areas of teaching involve big data, data analytics, HCI and visualisation topics. I am currently contributing to ‘Information and Knowledge Management’, ‘Human Computer Interaction’ and ‘Researching Social Media’, taught across a range of MSc programs. I also supervise dissertations from various MSc programs.
As a computer scientist, I have taught various technical subjects such as programming, data structures, web technologies, big data and distributed systems, visual analytics and Tableau.

I am interested in supervising PhD students in the following areas:

* Large scale visual analytics of real-time multidimensional heterogeneous datasets 

* Visualisation of large graph-based datasets using Augmented / Mixed / Virtual reality

* Citizen science and crowdsourcing techniques for complementing traditional sources of data (e.g. mobile, wearable sensing) using multimodal interactions

If you are interested and find these topics and my research relevant, do get in touch. 

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
